<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game select</title>
</head>
<body>
    <div>
        <h3>Crazy Casino 3</h3>
        <h1>Game select</h1>
        <p>choese from our wide varity of games.</p>
    </div>
    <section>
        <button><a href="../../templates/slots/slots.html">slots</a></button>
        <button><a href="../../templates/texasholdem/texasholdem.html">texasholdem poker</a></button>
        <button><a href="../../templates/blackjack/blackjack.html">blackjack</a></button>
        <button><a href="../../templates/roulette/roulette.html">roulette Beta</a></button>
    </section>
</body>
</html>