<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Roulette</title>
</head>
<body>
    <main class="game">
        <h1>Roulette</h1>
        <h3>Felling Lucky? Test your luck and win big!</h3>

        <div style="display: flex; gap: 10px; justify-content: center; flex-wrap: wrap;">
            <p>Chips: 0</p>
            <p>Bet: 0</p>
            <p>Win: 0</p>
            <p>Loss: 0</p>
            <p>Total: 0</p>
        </div>

        <div>
            <button type="button" id="rollBtn">roll the wheel</button>
            <p id="landedOnText">Landed on:</p>
        </div>
    </main>
    <script src="../../static/roulette.js"></script>
</body>
</html>