<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Roulette</title>
</head>
<body>
    <main class="game">
        <h1>Roulette</h1>
        <h3>Felling Lucky? Test your luck and win big!</h3>

        <div style="display: flex; gap: 10px; justify-content: center; flex-wrap: wrap;">
            <p>Chips: 0</p>
            <p>Bet: 0</p>
            <p>Win: 0</p>
            <p>Loss: 0</p>
            <p>Total: 0</p>
        </div>

        <div>
            <div>
                <button type="button" id="bet0Btn">0</button>
                <button type="button" id="bet00Btn">00</button>
            </div>

            <div>

            </div>

            <div>

            </div>
            
            
            <div style="display: grid; grid-template-columns: repeat(6, minmax(40px, 1fr)); gap: 8px; justify-items: center;">
                <button type="button" id="bet1Btn">1</button>
                <button type="button" id="bet2Btn">2</button>
                <button type="button" id="bet3Btn">3</button>
                <button type="button" id="bet4Btn">4</button>
                <button type="button" id="bet5Btn">5</button>
                <button type="button" id="bet6Btn">6</button>
                <button type="button" id="bet7Btn">7</button>
                <button type="button" id="bet8Btn">8</button>
                <button type="button" id="bet9Btn">9</button>
                <button type="button" id="bet10Btn">10</button>
                <button type="button" id="bet11Btn">11</button>
                <button type="button" id="bet12Btn">12</button>
                <button type="button" id="bet13Btn">13</button>
                <button type="button" id="bet14Btn">14</button>
                <button type="button" id="bet15Btn">15</button>
                <button type="button" id="bet16Btn">16</button>
                <button type="button" id="bet17Btn">17</button>
                <button type="button" id="bet18Btn">18</button>
                <button type="button" id="bet19Btn">19</button>
                <button type="button" id="bet20Btn">20</button>
                <button type="button" id="bet21Btn">21</button>
                <button type="button" id="bet22Btn">22</button>
                <button type="button" id="bet23Btn">23</button>
                <button type="button" id="bet24Btn">24</button>
                <button type="button" id="bet25Btn">25</button>
                <button type="button" id="bet26Btn">26</button>
                <button type="button" id="bet27Btn">27</button>
                <button type="button" id="bet28Btn">28</button>
                <button type="button" id="bet29Btn">29</button>
                <button type="button" id="bet30Btn">30</button>
                <button type="button" id="bet31Btn">31</button>
                <button type="button" id="bet32Btn">32</button>
                <button type="button" id="bet33Btn">33</button>
                <button type="button" id="bet34Btn">34</button>
                <button type="button" id="bet35Btn">35</button>
                <button type="button" id="bet36Btn">36</button>
            </div>
        </div>

        <div>
            <button style="padding-top: 20px;" type="button" id="rollBtn">roll the wheel</button>
            <p id="landedOnText">Landed on:</p>
        </div>
    </main>
    <script src="../../static/roulette.js"></script>
</body>
</html>