<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Monny</title>
</head>
<body>
    <section>
        <h1>Mony</h1>
        <div>
            <p> CASSINO: <br> You have 0 Chips. would you like to convert them</p>
            <select aria-label="Convert Chips to">
                <option disabled selected value="">Convert to...</option>
                <option value="rocks">Rocks</option>
                <option value="shells">Shells</option>
                <option value="dollars">Dollars</option>
            </select>
        </div>
        <div>
            <p> PRISSON: <br> you have 0 Rocks. would you like to convert them</p>
            <select aria-label="Convert Rocks to">
                <option disabled selected value="">Convert to...</option>
                <option value="chips">Chips</option>
                <option value="shells">Shells</option>
                <option value="dollars">Dollars</option>
            </select>
            <button>Convert</button>
        </div>
        <div>
            <p> Island: <br> You have 0 Shells. would you like to convert them</p>
            <select aria-label="Convert Shells to">
                <option disabled selected value="">Convert to...</option>
                <option value="chips">Chips</option>
                <option value="rocks">Rocks</option>
                <option value="dollars">Dollars</option>
            </select>
        </div>
        <div>
            <p> Street: <br> You have 0 Dollars. would you like to convert them</p>
            <select aria-label="Convert Dollars to">
                <option disabled selected value="">Convert to...</option>
                <option value="chips">Chips</option>
                <option value="shells">Shells</option>
                <option value="rocks">Rocks</option>
            </select>
        </div>
    </section>
</body>

</html>
